SMSBomb/Web References/U9/CustomerServiceInter6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.UFIDA.org" elementFormDefault="qualified" targetNamespace="http://www.UFIDA.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://u9-testsvr/U9/services/CustomerServiceInter.ICSService.svc?xsd=xsd5" namespace="UFSoft.UBF.Exceptions" />
  <xs:element name="Do">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="context" nillable="true" type="xs:anyType" />
        <xs:element minOccurs="0" name="jSON" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="UFSoft.UBF.Exceptions" minOccurs="0" name="outMessages" nillable="true" type="q1:ArrayOfMessageBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>